



html{
	height: 100vh;
	overflow: hidden;
	
}


body{
	
	width: 100%;
	
	
	margin: 0;
	padding: 0;
	perspective: 1px;
	transform-style: preserve-3d;
	height: 5%;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color:#00a5bb;
	font-size: 22px;
	color: black;
	top: 0%;
	bottom: 200%;
	content: "";
	left: 0;
	position: absolute;
	right: 0px;

	display: block;
	

	min-height: 100vh;
	
	
	transform-origin: center center 0;
	transform: translateZ(-1px) scale(1);
	z-index: -1;
	

	

	
}

header{
	box-sizing: border-box;
	min-height: 100vh;
	padding: 30vw 0 5vw;
	position: relative;

	transform-style: inherit;
	width: 100vw;
	

	
	
}

header h1{
	position: absolute;
	top: 60%;

	margin-top: 30%;
	font-weight: bold;
	color:#ffffff;
	background: cover;
	
	font-family: 'Bowlby One SC', cursive;
	
	 
	
	
}

header, header:before{
	
	align-content: center;
}

header::before{
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0px;
	top: 500px;
	display: block;
	
	
	
	transform-origin: center center 0;
	transform: translateZ(-1px) scale(2);
	z-index: -1;
	min-height: 100vh;
	margin-top: 0%;
	
	 

}

header *{
	font-weight: normal;
	letter-spacing: 0.2em;
	text-align: center;
	margin: 0;
	padding: 1em 0;
	
}

.topp{
	background-color: #000000;
	border-radius: 80px;
	height: 120%;

}


	
.rap{
	
	width: 80%;


}

.rasec{
	position: relative;
	top: 80%;
	right: 2%;
	margin-top: -90%;

}


.intro{
	
	position: relative;
	left: 10px;
	border-radius: 10px;
	
	height: auto;
	color: #ffffff;
	padding: 10px;
	
	
	
}



	

p{
	font-size: 26px;
	color: #ffffff;
	position: relative;
	width: 80%;
	height: auto;

	border: 1%;
	border-radius: 20px;
	width: 60%;
	
	margin: auto;
	
}


h1{
	position: relative;
	top: 250px;
	font-size: 30px;
	letter-spacing: 0.2em;
	font-family: 'Shadows Into Light', cursive;
	font-weight: bold;
	
}

h2{
	font-family: 'Permanent Marker', cursive;
	font-size: 50px;
	position: relative;
	left: 10px;
	top: 400%;
	color: #000000;
	z-index: auto;
	letter-spacing: 0.2em;
	
	
}

h3{
	color: #000000;
	
	border-radius: 20px;
	font-family: 'Ledger', serif;
	position: relative;
	left: 15px;
	margin-top: 7em;
	
}

h4{
	color: #ffffff;
	
	border-radius: 20px;
	font-family: 'Ledger', serif;
	position: relative;
	margin-top: -500px;
	
}


.contain{
	width:300px;
	height: 350px;
	font-size: 30px;
	display: inline-block;
	margin: 2% 0% 60% 7%;
	position: relative;
	left: 1px;
	

	
}

.contain1{
	background-color: #000000;
	width: 700px;
	height:850px;
	position: relative;
	right: 50px;
}





.event{
	position: relative;
	top: 50px;
	
	background-color:#00a5bb;
	width: 100%;
	border-radius: 20px;
	text-align: center;
	margin-top: 50%;
	margin-bottom: 20%;
}

ul{
	position: relative;
	right: 90px;
	color: white;
}

section{
	position: relative;
	background-color: #00a5bb;
	color: white;
	width: 80%;
	height: auto;
	border-radius: 10px;
	padding: 50px;
	font-size: 25px;
}


.img{
	position: relative;
	left: 50%;
}

.TT{
	
	position: relative;
	top: 100px; 
	margin-bottom: 2%;                  
	
	background-color:#00a5bb;
	text-align: center;
}

.btn{
	display: inline-block;
	width: 90px;
	height: 90px;
	background: #000000;
	margin-top: 2%;
	border-radius: 30%;
	box-shadow: 0 5px -5px #ffffff;
	color:#00a5bb;
	overflow: hidden;
	position: relative;
	top: -20px;


}

.btn i{
	line-height: 90px;
	font-size: 50px;
	transition: 0.2s linear;
}

.btn:hover i{
	transform: scale(1.3);
}

.life{
	color: black ;
	text-decoration: underline;
	
	
}

.life:hover{
	color: purple;
}

@media only screen and (min-width:319px ){
.rap{
	position: relative;
	left:11%;
	top: 10%;
}


}


@media only screen and (min-width:374px ){


		.rasec{
			margin-top: -100%;
		}
		.topp{
			
			height: 93%;
		}

		
}




@media only screen and (min-height:560px )
{
	.btn{
		display: inline-block;
		width: 90px;
		height: 90px;
		background: #000000;
		margin-top: 2%;
		border-radius: 30%;
		box-shadow: 0 5px -5px #ffffff;
		color:#00a5bb;
		overflow: hidden;
		position: relative;
		top: -100px;
	
	
	}
}

@media only screen and (min-width:400px ){

.r5{
	position: relative;
	right: 10%;
	top: 20%;
	margin-top: 10%;
}

}




	
	@media only screen and (min-height:630px ){

		.btn{
			display: inline-block;
			width: 90px;
			height: 90px;
			background: #000000;
			margin-top: 2%;
			border-radius: 30%;
			box-shadow: 0 5px -5px #ffffff;
			color:#00a5bb;
			overflow: hidden;
			position: relative;
			top: -167px;
			margin-top: 10%;
		
		
		}

	}


	

	@media only screen and (min-height:700px ){

		.btn{
			display: inline-block;
			width: 90px;
			height: 90px;
			background: #000000;
			margin-top: 2%;
			border-radius: 30%;
			box-shadow: 0 5px -5px #ffffff;
			color:#00a5bb;
			overflow: hidden;
			position: relative;
			top: -240px;
			margin-top: 30%;
		
		
		}




	


	}

	

		.tbut{
			margin: 30%;
			
		}


		.btn i{
			line-height: 90px;
			font-size: 50px;
			transition: 0.2s linear;
			margin: 2%;
		}
		

		
	}



@media only screen and (min-width:700px ){

	body{
		margin: -2%;
	}
		
	.raa{
		height: 500px;
		width: 550px;
		
	}

	.rap6{
		position: relative;
		right: 10%;
		top: 20%;
		margin-top: -10%;
		
	}
		
		.top3{
			margin-top: -45%;
			width: 120%;
			background-color:#00a5bb;
			
			
		
		}

		.hh{
			position: absolute;
			left: 20%;
			top: -20%;
			color: white;
			
		}

		.co{
			background-image: url("img/CO.jpg");
			background-position: center;
			background-size: cover;
			position: absolute;
			right: 2%;
			top: 100%;
			width: 90%;
			height: 20%;
			border-radius: 20px;
			
		}

		.int{
			margin-top: 10%;
			font-size: 30px;
			letter-spacing: 0.1em;
			color: #ffffff;
			
		
			
		}

		.con2{
			position: relative;
			left: -10%;
			background-color: #000000;
			width: 150%;
			height: 150%;
			
		}

		.convid{
			height: 600px;
			width: 750px;
		}

		.eve{
			margin-top: -130%;
			position: relative;
			top: -500%;
			
		}

		.sect{
			position: relative;
			left: 5%;

		}

}


@media only screen and (min-height:1250px ){
	.btn{
		display: inline-block;
		width: 95px;
		height: 95px;
		background: #000000;
		margin-top: 20%;
		border-radius: 30%;
		box-shadow: 0 5px -5px #ffffff;
		color:#00a5bb;
		overflow: hidden;
		position: relative;
		top: -550px;
		margin-top: 90%;
		
		
	
	
	}

	.tbut{
		margin: 30%;
		
	}


	.btn i{
		line-height: 90px;
		font-size: 50px;
		transition: 0.2s linear;
		margin: 2%;
	}
	

	
}

@media only screen and (min-width:1250px ){

	.rap{
		position: relative;
		top: 100%;
		margin-top: 50%;
		
		
	}	

	.al2{
		width: 800px;
		height: 800px;
	}

	.topp{
		background-image: url("img/CO.jpg");
		background-repeat: no-repeat;
		align-content: center;
		background-position: center;
		width: 80%;
		height: 40%;
		position: relative;
		top: 80%;
		left: 10%;
		margin-bottom: 20%;

	}
	
		.int3
		{
			margin-top: 10%;
			font-size: 30px;
			letter-spacing: 0.1em;
			color: #ffffff;
			position: relative;
			left: 0;
			bottom: -50%;
			background-color: blueviolet;
			width: 100%;
		}

		.hh3{
			
			color: #ffffff;
			font-size: 40px;
			letter-spacing: 0.1em;
			word-spacing: 0.1em;
			position: absolute;
			top: -470%;
			left: -30%;

			


		}

		.co3{
			
			position: absolute;
			right: -10%;
			top: 110%;
			width: 75%;
			height: 20%;
			border-radius: 20px;

		}

		.wat{
			position: relative;
			width: 30%;
			left: 70%;
			top: 40%;
			background-color:blueviolet;
			
			font-size: 30px;
		}

		.contain1{
			
			position: relative;
			margin-top: 20%;
		
		}
	
		.convid{ height: 700px;
			width: 600px;

		}

		

		

		.eve3{
			position: relative;
			
		
			left: -10%;
			margin-top: -75%;
		}

		.sectt{
			position: relative;
			top: 200%;
			margin-top: -5%;
			left: -2%;
			width: 80%;
			
		}

		.sec22{
			font-size: 28px;
		}
		.eve4{
			font-size: 28px;
		}

		.tbt{
		
			
			position: relative;
			left: -30%;
			margin: -20%;
			height: 50%;
			top: -130%;
	
		}

		.tb3{
			height: 10%;
			margin: -100%;
			
			
		}
}

@media only screen and (min-width:1440px ){

	.r8{
		position: relative;
		left: 10%;
	}

	.con33{
		position: relative;
		right: -10%;
		width: 10%;
		background-color: black;
	}
	.contain1{
		position: relative;
		width: 0;
		height: 0;
	}

	.convid3{
		width: 700px;
		height: 500px;
	}

	.wat{
		position: relative;
		left: 67%;
	}

	.eve{
		margin-top: -90%;
	}

	.tbb{
	
			left: -30%;
			margin: 5%;
			
			top: 180%;
			
			display: inline-block;
		width: 110px;
		height: 110px;
		background: #000000;
		margin-top: 20%;
		border-radius: 30%;
		box-shadow: 0 5px -5px #ffffff;
		color:#00a5bb;
		overflow: hidden;
		position: relative;
	
		margin-top: 9%;
	}
}




